body {
  font: normal 100% "Source Sans Pro",$body; 
  -webkit-font-smoothing: antialiased;
  color: white;
}

canvas {
  z-index: -1;
  background:linear-gradient(#3e55dc,#3d91be);
  border: 10px rgba(0,0,0,.7) solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#content {
  line-height: 1.3;
  font-size: 20px;
  margin: 70px 30px; 
  transition: .3s ease-in-out all;


  h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    line-height: 1.3;

    strong {
      font-weight: 600;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: white 2px solid;
    -webkit-transition: .2s ease-in-out padding-bottom;
    -moz-transition: .2s ease-in-out padding-bottom;
    transition: .2s ease-in-out padding-bottom;

    &:hover {
        padding-bottom: 0;
    }
  }
}


ul#social {
  list-style: none;
  padding: 0;
  margin-top: 15px;

  li {
    display: inline;
    padding-right: 3px;
  }

  a {
    font-family: 'Mono Social Icons Font';
    color: white;
    color: rgba(255,255,255,.6);
    font-size: 35px;
    text-decoration: none;
    -webkit-transition: .2s ease-in-out color;
    -moz-transition: .2s ease-in-out color;
    transition: .2s ease-in-out color;
    border: 0;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

}
